# 1. Given a list of integers, [1, 2, 3, 4, 5], write a list comprehension that returns a new list where each number is squared, cubed and another one as power of itself.

In [1]:

nums = [1, 2, 3, 4, 5]

# squared
squared = [n**2 for n in nums]
print("The square of numbers is:", squared)

# cubed
cubed = [n**3 for n in nums]
print("The cube of numbers is:", cubed)

# pqwer of itself
power = [n**n for n in nums]
print("The power of numbers is:", power)

# combined
combined = [(n**2, n**3, n**n) for n in nums]
print("The square, cubes and power of numbers is:", combined)

The square of numbers is: [1, 4, 9, 16, 25]
The cube of numbers is: [1, 8, 27, 64, 125]
The power of numbers is: [1, 4, 27, 256, 3125]
The square, cubes and power of numbers is: [(1, 1, 1), (4, 8, 4), (9, 27, 27), (16, 64, 256), (25, 125, 3125)]

# 2a Write a list comprehension that filters out only the even numbers from the list [10, 15, 20, 25, 30, 35].

In [2]:
numbers = [10, 15, 20, 25, 30, 35]
even_numbers = [num for num in numbers if num%2==0]
even_numbers

[10, 20, 30]

# 2b Write a list comprehenion/for loop that retuns every 4th vlaue in  range of 1 to 100

In [3]:
fourth = [num for num in range(1, 101) if num % 4 == 0]
print("The 4th values are:", fourth)

The 4th values are: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

# 3a. You have a list of strings, ["apple", "banana", "cherry"]. Write a list comprehension that converts each string to uppercase.

In [4]:
fruits =  ["apple", "banana", "cherry"]
upper = [f.upper() for f in fruits]
upper

['APPLE', 'BANANA', 'CHERRY']

# 3b. Now create a dictionary comprehension  to output the fruit as key and length of each character in the fruit as value

In [5]:
fruits =  ["apple", "banana", "cherry"]
fruit_dict = {f: len(f) for f in fruits}
print(fruit_dict)

{'apple': 5, 'banana': 6, 'cherry': 6}

# 4. Given a list of numbers [1, 2, 3, 4, 5, 6], write a single list comprehension that returns: "even" for each even number, and "odd" for each odd number.

In [6]:
numbers = [1, 2, 3, 4, 5, 6]
even_odd_list = ["even" if num % 2 == 0 else "odd" for num in numbers]
even_odd_list

['odd', 'even', 'odd', 'even', 'odd', 'even']

# 5a Suppose you have a list of words like ["John", "Jane", "Erick", "Benard", "Comprehension"]. Write a list comprehension that extracts the first letter from each word.

In [7]:
letters = ["John", "Jane", "Erick", "Benard", "Comprehension"]
first_letter = [l[0] for l in letters]
first_letter

['J', 'J', 'E', 'B', 'C']

# 5b. Save the outputs as dictionary using dictionary comprehension to show the name of each individual as key and first charatcer as value

In [8]:
letters = ["John", "Jane", "Erick", "Benard", "Comprehension"]
letter_dict = {l: l[0] for l in letters}
letter_dict

{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

# 5c. Convert the outputs of number 1 to 5b as functions and test them

In [9]:
# square, cubes and power function
def sq_cube_power(n):
    num = range(1, n+1)
    sq_cube_power = [(n**2, n**3, n**n) for n in nums]
    return(sq_cube_power)

# tesing
sq_cube_power(5)

[(1, 1, 1), (4, 8, 4), (9, 27, 27), (16, 64, 256), (25, 125, 3125)]

In [10]:
# even numbers function
def even_nums(n):
    num = range(1, n+1)
    even_nums = [num for num in numbers if num%2==0]
    return(even_nums)
# tesing
even_nums(10)

[2, 4, 6]

In [11]:
# 4th vlaue in a range function
def fourth_value(n):
    fourth_values = [num for num in range(1, n+1) if num % 4 == 0]
    return fourth_values  

# Testing
print(fourth_value(20))

[4, 8, 12, 16, 20]

In [12]:
# function for string to uppercase
def upper_case(fruit):
    upper_case = [f.upper() for f in fruit]
    return(upper_case)

# testing
fruits =  ["apple", "banana", "cherry"]
upper_case(fruits)

['APPLE', 'BANANA', 'CHERRY']

In [13]:
#  function for fruit kkey and length
def fruit_key_length(fruit):
    fruit_key_length = {f: len(f) for f in fruits}
    return(fruit_key_length)

# testing
fruits =  ["apple", "banana", "cherry"]
fruit_key_length(fruits)

{'apple': 5, 'banana': 6, 'cherry': 6}

In [14]:
# function for even and odd
def even_odd(n):
    num = range(1, n+1)
    even_odd = ["even" if num % 2 == 0 else "odd" for num in numbers]
    return(even_odd)

# tesing
even_odd(10)

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [15]:
# function for first letter from each word
def first_letters(letter):
    first_letters = [l[0] for l in letters]
    return(first_letters)

# testing
letters = ["John", "Jane", "Erick", "Benard", "Comprehension"]
first_letters(letters)

['J', 'J', 'E', 'B', 'C']

In [16]:
# function name as key and first charatcer as value
def name_key(letter):
    name_key = {l: l[0] for l in letters}
    return(name_key)

# testing
letters = ["John", "Jane", "Erick", "Benard", "Comprehension"]
name_key(letters)

{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

# 6. Using a lists and dictionary of your choice, create  a dictionary containing 4 lists (full name, age, weight, location, gender) of 10 students.

In [17]:
students_info = {
    "Full_Name": ["Dotty Wobs", "Joy Bosibori", "Chris Otiato", "Ella Atieno", "Mich Ngugi", 
                  "Godwin Dama", "Faith Kong", "Daudi Senge", "James Lau", "Jane okot"],
    
    "Age": [29, 21, 20, 18, 22, 22, 20, 19, 21, 20],
    
    "Weight": [50, 54, 58, 61, 65, 58, 62, 55, 61, 57],
    
    "Location": ["Mombasa", "Kisii", "Busia", "Kiambu", "Eldoret", 
                 "Nakuru", "Kericho", "Voi", "Taita", "Soy"],
    
    "Gender": ["Female", "Female", "Male", "Female", "Male", 
               "Male", "Female", "Male", "Male", "Female"]
}

# Printing the dictionary
print(students_info)

{'Full_Name': ['Dotty Wobs', 'Joy Bosibori', 'Chris Otiato', 'Ella Atieno', 'Mich Ngugi', 'Godwin Dama', 'Faith Kong', 'Daudi Senge', 'James Lau', 'Jane okot'], 'Age': [29, 21, 20, 18, 22, 22, 20, 19, 21, 20], 'Weight': [50, 54, 58, 61, 65, 58, 62, 55, 61, 57], 'Location': ['Mombasa', 'Kisii', 'Busia', 'Kiambu', 'Eldoret', 'Nakuru', 'Kericho', 'Voi', 'Taita', 'Soy'], 'Gender': ['Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female']}

# 7. Convert the output of number six above into pandas dataframes

In [18]:
import pandas as pd
students = pd.DataFrame(students_info)
students.head()

      Full_Name  Age  Weight Location  Gender
0    Dotty Wobs   29      50  Mombasa  Female
1  Joy Bosibori   21      54    Kisii  Female
2  Chris Otiato   20      58    Busia    Male
3   Ella Atieno   18      61   Kiambu  Female
4    Mich Ngugi   22      65  Eldoret    Male

# 8. Now create a new dictionary of key as name of students in number six and value as gender of students using dictionary comprehensions

In [21]:
# Extract names and gender
name_gender = {name: gender for name, gender in zip(students_info["Full_Name"], students_info["Gender"])}

# Displaying the new dictionary
name_gender

{'Dotty Wobs': 'Female',
 'Joy Bosibori': 'Female',
 'Chris Otiato': 'Male',
 'Ella Atieno': 'Female',
 'Mich Ngugi': 'Male',
 'Godwin Dama': 'Male',
 'Faith Kong': 'Female',
 'Daudi Senge': 'Male',
 'James Lau': 'Male',
 'Jane okot': 'Female'}

In [ ]:
#